.form-container {
    background-color: rgba(189, 227, 202, 0.9);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}

.input-container {
    margin-bottom: 15px;
}

input {
    padding: 10px;
    font-size: 16px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ccc;
}

input:focus {
    border-color: #42ceea;
    box-shadow: 0 0 5px rgba(66, 206, 234, 0.5);
}
