/* Contenedor principal */
.header {
  background-color: #42ceea;
  color: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}

/* Estilos para los botones de login y logout */
.login-button, .logout-button {
  background-color: #42ceea;
  color: white;
  border-radius: 5px;
  padding: 12px 20px;
  font-size: 16px;
  width: 100%;
  margin: 10px 0;
  transition: background-color 0.3s ease;
}

.login-button:hover, .logout-button:hover {
  background-color: #38b7d7;
}

/* Estilos para contenedores del formulario */
.form-container, .lista-container {
  background-color: rgba(189, 227, 202, 0.9);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  flex: 1;
  min-width: 400px;
}

/* Estilos para las listas de productos */
.product-item {
  background-color: #249dad;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: white;
}

.product-item div {
  margin: 5px 0;
}

.product-item button {
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 20px;
  transition: color 0.3s;
}

.product-item button:hover {
  color: #ff1a1a;
}

/* Estilo para pantallas pequeñas */
@media (max-width: 768px) {
  .header {
      padding: 15px;
  }

  .form-container, .lista-container {
      width: 100%;
      padding: 10px;
  }

  .product-item {
      font-size: 14px;
  }

  .login-button, .logout-button {
      font-size: 14px;
  }
}

